/* 选项卡容器样式 */
.tab-container {
  display: flex; /* 水平排列选项卡按钮 */
  justify-content: center; /* 居中对齐 */
  padding: 0px; /* 内边距 */
  background-color: #FFFFFF; /* 背景颜色 */
  height: 60px;
  
}

/* 选项卡按钮样式 */
.tab {
  cursor: pointer; /* 鼠标指针变为手型 */
  padding: 0px; /* 内边距 */
  margin-right: 0px; /* 外边距 */
  border-bottom: 0px solid transparent; /* 底部边框 */
}

/* 鼠标悬停时的选项卡按钮样式 */
.tab:hover {
  border-bottom: 10px solid #4CAF50; /* 底部边框颜色 */
}

/* 内容区域样式 */
.content {
  display: none; /* 默认隐藏内容区域 */
  padding: 1px; /* 内边距 */
  height: 2080px;
  width:100%；
}
