

/* 选项卡容器样式 */
.tab-container {
  display: flex; /* 水平排列选项卡按钮 */
  justify-content: center; /* 居中对齐 */
  padding: 1px; /* 内边距 */
  background-color: #02a982; /* 背景颜色 */
  height: 70px;
  
}

/* 选项卡按钮样式 */
.tab {
  cursor: pointer; /* 鼠标指针变为手型 */
background-color: #02a982; /* 背景颜色 */
  padding: 1px; /* 内边距 */
 margin-right: 50px;  /*外边距 */
border: none;
border-bottom: 1px solid transparent; /* 底部边框 */
border-color: #02a982; 
}

/* 鼠标悬停时的选项卡按钮样式 */
.tab:hover {
  border-bottom: 10px solid #ff5500; /* 底部边框颜色 */
background-color: lightgreen; /* 背景颜色 */
}

/* 内容区域样式 */
.content {
  display: none; /* 默认隐藏内容区域 */
  padding: 1px; /* 内边距 */
  height: 2000px;
  width:100%；
}
